* {
    margin: 0px;
    padding: 0px;
    font-family: Helvetica, sans-serif;
    background-color: none;
    /* overflow-x: hidden; */
    
}
body{
    overflow-x: hidden;
    background-color: #e8e8e8;
 


}
#banner-ad {
    width: 100%;
    height: auto;
}

.top-header {
    width: 100%;
    height: 30vh;
}

.nav-icons {
    display: flex;
    width: 100%;
    /* height: 30vh; */
}

.nav-icon-image {
    height: auto;
    list-style: none;

}

.nav-icon-image img {
    width: 60%;

}

/* konga logo display */
.konga-logo {
    width: 10%;
    height: 50px;
}

ul li .categories {
    list-style: none;
    display: flex;
    font-size: 15px;
    font-weight: 20px;
    padding: 10px;
    text-decoration: none;
    color: white;

}

.navbar-link {
    list-style: none;
    display: flex;
    font-size: 15px;
    font-weight: 20px;
    padding: 10px;
    text-decoration: none;
    color: white;
}

.sub-categories {
    list-style: none;
    display: flex;
    font-size: 15px;
    font-weight: 20px;
    padding: 10px;
    text-decoration: none;
    color: black;
}

.nav-bar {
    display: flex;
    background-color: #ed017f;
    justify-content: space-around;
    height: inherit;
    border-bottom-left-radius: .25rem;
    border-top-left-radius: .25rem;
    font-size: .75rem;
    height: 100%;
    padding-left: .625rem;
    padding-right: .625rem;
    width: 100%;
    text-decoration: none;
    align-items: center;
}

.nav-logo {
    width: 10%;
}

.nav-bar-display {
    display: flex;
    list-style: none;
    width: 80%;
    padding: 20px;
    text-decoration: none;

}

.nav-display-left {
    width: 50%;
    display: flex;

}

.nav-bar-display form {
    width: 50%;
}

.nav-bar-display,
form,
input {
    width: 90%;
    height: 40px;
    border: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    text-decoration: none;
}

.search-button {
    background-color: #fba100;
    border-bottom-right-radius: .25rem;
    border-top-right-radius: .25rem;
    color: #ed017f;
    cursor: pointer;
    font-weight: 600;
    outline: none;
    width: 2.8125rem;
    height: 40px;
    border-style: none;
    margin-left: -7px;
}

.cart-button {
    background-color: #33b27b;
    width: 11%;
    height: 47px;
    color: white;
    display: flex;
    border-style: none;
    padding: 10px 10px; 
    align-items: center;
    justify-content: space-around;
    border-radius: 3px;
}

.fa-shopping-cart {
    font-size: 15px;

}

.zero {
    background-color: white;
    color: #000;
    padding: 5px;
    font-weight: bold;
    font-size: 12px;
    border-radius: 2px;
}

.cart {
    width: 30%;
    margin-left: -15px;
}

.nav-bar-extensions {
    background-color: #94004f;

}

.All-categories-section {
    display: flex;
    list-style: none;
    justify-content: space-around;
}

.All-categories-section a:hover {
    background-color: white;
    color: black;
}

.sub-categories-container {
    position: absolute;
    background-color: white;
    color: black;
    display: none;
}
.phone-sub-categories{
    position: absolute;
    background-color: white;
    color: black;
    display: flex;
    width: 100%; 

}
.phone-sub-categories ul li a{
   
   
    text-decoration: none;
    color: black;
}
.phone-sub-categories ul li {
    list-style: none;
}

.phone-sub-categories ul li a:hover {
    background-color: white;
    color: #94004f;
    ;
}


.sub-categories-container a {
    color: black;

}

.sub-categories-container a:hover {
    background-color: white;
    color: #94004f;
    ;
}

li:hover .sub-categories-container {
    display: block;
    list-style: none;

}

.sub-categories-container ul h5 {
    list-style: none;
  
}

.phone-sub-categories {
    position: absolute;
    background-color: white;
    color: black;
    display: none;
    left: -7px;
  
}

.phone-dropdown-btn:hover .phone-sub-categories {
    display: block;
    display: flex; 
    font-size: 15px;
    font-weight: 20px;
    padding: 10px;
    width: 100%;
    justify-content: space-evenly;
    flex-wrap: wrap;
    height: 100vh;
}
.phones-advert-container{
    width: 20%;
    height: 60vh;
}
.phones-advert-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.phone-sub-categories-a{
    padding-bottom: 10px;
    

}
.sub-heading{
    padding-bottom: 10px;
    font-weight: bolder;
    font-size: 14px;
}
.phone-sub-heading{
    width: 18%;
}
.carousel{
    display: flex;
    width: 100%;
    height: 60vh;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
   padding: 0 10px;
}
.carousel-advert{
    width: 68%;
    height: 55vh;
   

}
.carousel-image{
    width: 100%;
    height: 100%;
    border-radius: 5px;

}
.side-banner-advert{
    display: flex;
    width: 30%;  
    height: 100%;  
    justify-content: space-around;  
    /* justify-content: space-evenly; */
    align-items: center;
    /* flex-wrap: wrap; */
    
    
}
.side-banner-samples{
    padding: 5px;
    /* display: flex; */
    /* height: 25vh; */
    /* padding-bottom: 10px; */
    
}

.side-banner-images{
    width: 100%;
    border-radius: 5px;
    padding: 5px;
    /* margin: 0px 6px; */
   

    
}

.flight-section{
    display: flex;
    width: 100%;
    height: 30px; 
    /* margin: 10px; */
    /* padding: 10px; */
    justify-content: space-evenly;
    align-items: center;
    line-height: 60px;
    margin-top: 12px;

    padding: 0 15px;
}
.flight-subsection{
    /* background-color: white;
    text-align: center;
    width: 30%;
    display: flex;
    height: 45px;
    padding: 0px 30px;
    margin-top: 30px;
    border-radius: 5px; */
        background: #fff;
        border: .0625rem solid rgba(0,0,0,.05);
        border-radius: .3125rem;
        -webkit-box-shadow: 0 0 .5rem rgba(0,0,0,.05);
        box-shadow: 0 0 .5rem rgba(0,0,0,.05);
        height: 2.5rem;
        margin-right: .9375rem;
        padding: .5125rem 1.5625rem;
        width: 17%;
        width: calc(16.66667% - .9375rem);
    
}

.flight-images{
    width: 100%;
    height: auto;
    box-sizing: border-box;
    /* display:flex; */
  
}

.recommended{
    padding: 15px 10px;
    background-color: white;
    margin-top: 50px;
    border-radius: 5px;
    width: 100%;
    height: 55vh;
    margin-left: 15px;
    margin-right: 15px;
}
.recommended-top{
    display: flex;
    align-items: center;
    font-size: 15px;
    border-bottom: 1px solid rgba(170, 170, 170, 0.384);
    padding: 0px;
    padding-bottom: 5px;
    /* margin-bottom: 15px;   */
}

.items{
    align-items: center;
    margin-left: 40px;
    font-size: 15px;
    text-decoration: none;
    color: #8b054d;
    font-family: Helvetica, sans-serif !important;
    
}
.recommended-bottom{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height:23vh;
    background-color: white;
    padding: 10px;
    margin-top: 2px;
    justify-content: space-around;
    
    
}
.recommended-for-you{
    display: flex;
    flex-wrap: wrap;
    width: 32%;
    height: 23vh;
    box-shadow: 1px 1px 1px 1px rgb(240, 233, 233);
    align-items: center;
  margin-bottom: 10px;
    justify-content: space-evenly;
}
.recommended-ad{
    height: 120px;
    width: 20%;
}
.recommended-text{
    width: 60%;
}
.recomm-p{
    margin-bottom: 15px;
    font-size: 15px;

}
.recommended-text h1{
    font-size: 20px;
}
.recommended-for-you:hover{
    box-shadow: 3px 3px 3px 3px rgb(240, 233, 233);
}

.Grocery-list{
    display: flex;
    width: 100%;
    height: 28vh;
    margin-top: 20px;
    background-color: white;
    /* justify-content: center; */
    /* margin-right: 15px;
    margin-left: 15px; */
    border-radius: 5px;
    /* align-content: space-around; */
    padding:  10px 0;
     margin-bottom: 20px;
     margin-left: 15px;
     margin-right: 15px;

}


.Grocery-advert{
    width: 25%;
    height: 27vh;
   
    

}
.Grocery-image{
    width: 100%;
    height: inherit;
}

.sponsored-product{ 
  width: 100%;
  background-color: white;
  margin: 15px 0; 
  padding: 5px;
  border-radius: 5px;
  height: 50vh;
  overflow-y:scroll; 
  margin-left: 15px;
  margin-right: 15px;
 overscroll-behavior-x: none;
 
} 

.sponsored-top{
    border-bottom: 1px solid rgba(170, 170, 170, 0.384);
    /* width: 100%; */
}
.sponsors{
    font-size:20px;
    width: 100%;
}

.sponsored-bottom{
    display: flex;
    /* position: relative; */
    margin-bottom: 5px;
    /* padding-top: 20px; */
    height: 55vh;
    justify-content: space-between;
    width: 180%;
    margin-top: 10px;
   
    
}
.sponsored-ad-img-wrapper-wrapper{
    width: 12%;
    height: 70vh;
}

.sponsored-image{
    height: 70%;
    width:100%;
    
}
.sponsored-ad{
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
  
    /* margin: 0 5px; */
    height: 49vh;
    display: flex;
    flex-direction: column;
    width: 15%;

}
.sponsored-ad:hover{
    box-shadow: 3px 3px 3px 3px rgb(240, 233, 233);
}

.recommended-unique{
    margin-top: 22px;
}

.large-appliance{
    width: 100%;
    background-color: white;
    margin-top: 20px;
    height: 15vh;

}

.appliances{ 
    background-color: white; 
    padding: 10px;
    width: 100%;
    border-radius: 4px 4px 4px 4px;
} 

.blackouts-image{
    width: 100%;
    height: 100px;
    border-radius: 5px;
  
}

.appliances-refrigerators{
    width: 100%;
    background-color: white;
    margin-top: 50px;
    height: 20vh;
    /* display: flex; */
}

.refrigerators{
    background-color: white; 
    padding: 10px;
    width: 100%;
    border: 5px 5px 5px 5px;
    height:30vh;
    border-radius: 10px;
    display: flex;
    justify-content: center;
} 
.refrigerator-advert{
    width: 50%;
    height: 25vh;
    border-radius: 5px;
    margin: 5px;
}

.sponsored-unique{
    margin-top: 100px;
}

.sponsored-top-sales{
    width: 100%;
    background-color: #1c1d1f;
    opacity: 70%;
    color: white;
    height: 30px;
    padding: 10px;
}
.recommended recommended-unique{
    height: 5vh;
}

.sponsored-ad-img-wrapper{
    display: flex;
    width: 100%;
    height: 30vh;
    text-align: center;
    
}
/.sponsored-text{
    display: flex;
  text-align: center; 
}



.Browsing-History{
    background-color: white;
    width: 100%;
    height: 50vh;
    padding: 10px;
    display: flex;
}
.browsing-top{
    width: 100%;
    height: 30px;
    background-color:#1c1d1f;
    opacity: 70%;
    color: white;
}

.browsing-menu{
    width: 100%;
    height: 30vh;
    display: flex;
    

}
.browsing-ad{
    width: 100%;
}






  







/* .image-wrapper{
    width: 30px;
    height: 20px;
} */
